body {
    font-size: 14px;
}

.login-title {
    text-align: center;
    margin-top: 120px;
}

.login-submit button {
    margin-left: 30%;
}

.content-header {
    display: block;
    background-color: #eee;
    line-height: 42px;
    padding-left: 10px;
}

.content-button {
    padding: 2px 5px 0px 5px;
}

.content {
    padding: 0px 5px 0px 5px;
}

.content .layui-col-md12 {
    margin-top: -5px;
}

.info-class {
    color: #ff0000;
    background-color: #dddddd;
    border-radius: 10px 10px 10px 10px;
}

.layui-inline .layui-form {
    width: 480px;
    margin-top: 5px;
}

.layui-table-cell {
    height: auto;
}

.layui-table-tool {
    padding: 5px 15px;
    min-height: 45px;
}

.searchbar .layui-input {
    height: 30px;
}

.searchbar button {
    height: 30px;
    padding: 0 15px;
}


.layui-logs .layui-table td,
.layui-logs .layui-table th {
    padding: 1px 0;
    font-size: 12px;
}

.layui-logs .layui-table-cell {
    padding: 0 2px;
}

